<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rockyang.mybatis.plus.test.support.mapper.OrderMapper">

    <resultMap id="baseResult" type="com.rockyang.mybatis.plus.test.support.model.Order" />
    
    <select id="getUserByName" resultMap="baseResult">
        SELECT * from user where name = #{name};
    </select>
    
    <select id="getUserMap" resultType="hashmap">
        SELECT * from user where id = '0123456-10';
    </select>
    
    <select id="searchUsers" resultMap="baseResult">
        SELECT * from user
        <where>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    
    <update id="mathOpt" parameterType="com.rockyang.mybatis.spring.plus.support.MathOptVo">
        update user
        <set>
            <if test="opt == 'add'">
                ${field} = ${field} + #{offset} WHERE id = #{id}
            </if>
            <if test="opt == 'subtract'">
                ${field} = ${field} - #{offset} WHERE id = #{id} AND ${field} > #{offset}
            </if>
            <if test="opt == 'multiply'">
                ${field} = ${field} * #{offset} WHERE id = #{id} AND ${offset} != 0
            </if>
            <if test="opt == 'divide'">
                ${field} = ${field} / #{offset} WHERE id = #{id} AND ${offset} != 0
            </if>
        </set>
    </update>
</mapper>