<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%thread]%level- %logger{50}.%M: %msg%n</pattern>
			<charset>UTF-8</charset> 
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- 开启调试模式，打印 SQL 语句 -->
	<logger level="DEBUG" name="org.rockyang.mybatis" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>

</configuration>